---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Default.astro';
import { Card } from '@eliancodes/brutal-ui';
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
---

<Layout
  title='About'
  description="About page | Learn about who I am"
  pageTitle="About Me"
>

  <main class='bg-green p-6'>
    <section id='about-me' class='grid md:grid-cols-8 gap-8 mt-4'>
        <img
            src="/img/mario_profile.jpg"
            alt="Photo of Zachary"
            class="col-span-2 card-shadow border-3 rounded-lg border-black"
            />

       <div class='col-span-6'>
           <Card>
             <h2 class="mt-4 outfit text-2xl md:text-5xl lg:text-7xl">Hi, I'm Zachary, </h2>
             <p class="mt-4 outfit text-xl md:text-2xl lg:text-3xl">
               a computer graphics student at UPenn, driven by a deep love for visual storytelling and the tools that bring it to life. I enjoy exploring the intersection of art and code—whether that's proceduralism, music animations, or stylization. My dream is to contribute to animated feature films, where creative problem solving can elevate emotion, story, and craft.
             </p>
           </Card>
       </div>
    </section>
    <RecentBlogPosts />
    
    <!-- <section id='others' class='grid md:grid-cols-8 gap-8 mt-4'>
        <div class='col-span-full'>
           <Card>
             <h2 class="text-3xl font-bold mb-4">Hello, I'm Zachary</h2>
             <p class="text-lg">
               I'm a 3D artist and software enthusiast, passionate about bringing ideas to life
               through creative means.
             </p>
           </Card>
       </div>
    </section> -->
  </main>
</Layout>
