---
interface Props {
  pageTitle?: string;
}

const navigationItems = [
  { name: 'WORK', url: '/projects/' },
  { name: 'REEL', url: 'https://vimeo.com/1052903768' },
  { name: 'ABOUT', url: '/about/' },
  { name : 'RESUME', url: '/pdf/zachary_leong_resume.pdf'}
];

const { pageTitle } = Astro.props;
---

<header class="border-b-4 border-black flex justify-between p-6 items-center">
  {pageTitle && <h1 class="hidden">{pageTitle}</h1>}

  <!-- Brand -->
  <a href="/" title="Back to Home">
    <p class="righteous md:text-5xl">ZACHARY LEONG</p>
  </a>


  <!-- Main navigation -->
  <nav class="hidden md:inline-block">
    <h2 class="hidden">Navigation</h2>
    <ul class="flex gap-8 poppins">
      {navigationItems.map(item => (
        <li>
          <a
            class={`text-2xl font-medium hover:text-green hover:underline transition-all duration-150 ease-in-out ${item.name === 'Resume' ? 'resume-link' : ''}`}
            href={item.url}
            title={`Go to ${item.name}`}
            target={item.name === 'REEL' || item.name === 'RESUME' ? '_blank' : '_self'}
          >
            {item.name}
          </a>
        </li>
      ))}
    </ul>
  </nav>

  <!-- Mobile nav stays the same -->
  <nav class="md:hidden flex">
    <h2 class="hidden">Mobile Navigation</h2>
    <ul>
      <li><a href="/projects/">Projects</a></li>
    </ul>
  </nav>
</header>
