---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Default.astro';
import BlogList from '@components/projects/BlogList.astro';

const posts = await getCollection('blog').then((collection) =>
  collection.reverse()
);
---

<Layout
  title='Projects'
  description="Zachary's Projects | On this page you can find my projects"
  pageTitle="Zachary Leong's Projects"
>
  <main class='bg-green p-6'>
    <BlogList posts={posts} />
  </main>
</Layout>
