---
import { getCollection } from 'astro:content';
import BlogList from '../projects/BlogList.astro';
import { Card } from '@eliancodes/brutal-ui';
import { Button } from '@eliancodes/brutal-ui';
import type { CollectionEntry } from 'astro:content';

interface Props {
  count?: number;
  filter?: string;
}

const { count, filter } = Astro.props;

const posts = await getCollection('blog').then((posts) => {
  const filteredPosts = filter ? posts.filter(post => !post.data.title.includes(filter)) : posts;
  const sortedPosts = filteredPosts.sort((a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime())
  return sortedPosts.slice(0, count ?? 3)
});
---

<section class='mt-8'>
  <Card>
    <div class='flex justify-between items-start'>
      <h2 class='text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif'>
        Featured Projects
      </h2>
      <div class='hidden md:block'>
        <Button href='/projects/'>Go to projects &rarr;</Button>
      </div>
      <div class='block md:hidden'>
        <Button href='/projects/'>to projects</Button>
      </div>
    </div>
    <BlogList posts={posts} />
  </Card>
</section>
